doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Tastycat Emotes
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    style(type='text/css').
      #{css}
    // if javascript is loaded, display loaders (initially disabled for noscript)
    script(type="text/javascript").
      (function(head) {
        var css = 'img.b-lazy{display:inline}';
        var style = document.createElement('style');
        style.type = 'text/css';
        style.styleSheet ? style.styleSheet.cssText = css : style.appendChild(document.createTextNode(css));
        head.appendChild(style);
      })(document.head || document.getElementsByTagName('head')[0]);
  body
    header.container.header
      div.title
        h1 Tastycat Emotes
        span Contribute emotes #[a(href='https://github.com/catsaretasty/emotes') here.]
      #search-box
    hr
    #emotes.container
      each emote in emotes
        .emote-container
          h4.emote-header #{emote.name}
          .emote-image
            noscript
              img(src='#{emote.url}')
            img.b-lazy(src='loading.gif', data-src='#{emote.url}', alt="#{emote.name}")
    script(async, defer, src='emotes.js', onload='require("emotes").init()')