<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <title>title</title>
</head>
<body>
<h1>emotes</h1><span>note: not in alphabetical order, todo: search, sort, not look like crap</span>
<div class="container">
  {{#each emotes}}
    <div class="emote-container">
      <h4 class="emote-header">{{@key}}</h4>
      <div class="emote-image">
        <noscript><img src="{{this.url}}"></noscript>
        <img style='height:{{this.height}}px;width:{{this.width}}px' data-normal="{{this.url}}">
      </div>
      <span class="emote-info">h: {{this.height}} | w: {{this.width}}</span>
    </div>
  {{/each}}
</div>
<ul>

</ul>
<script src="app.js"></script>
<script>require('application').init();</script>
</body>
</html>